.sidebar {
  flex: 0.2;
  height: 100%;
}

.sidebar > h3 {
  margin-left: 7px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 2px 3px black;
}

.sidebar__body {
  overflow-y: overlay;
}
